{% extends 'base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <h1>Dashboard</h1>

    {% with total_images_created=request.user.images_created.count %}
        <p>Welcome to your dashboard. You have bookmarked
        {{ total_images_created }} image{{ total_images_created|pluralize }}.</p>
    {% endwith %}

    <p>Drag the following button to your bookmarks toolbar to bookmark
    images from other websites --> <a href="javascript:{% include 'bookmarklet_launcher.js' %}"
        class="button">Bookmark it</a></p>

    <p>You can also <a href="{% url 'edit' %}">edit your profile</a>
        or <a href="{% url 'password_change' %}">change your password</a>.</p>

    <h2>What's happening</h2>
    <div id="action-list">
        {% include 'actions/action/detail.html' %}
    </div>
{% endblock %}

{% block domready %}

  const request = new XMLHttpRequest();

  let page = 1;
  let empty_page = false;
  let block_request = false;

  // if the screen is large and there is no scroll
  let interval = setInterval(() => {
    if (checkAtBottomOfPage() && empty_page == false && block_request == false) sendOrNotRequest()
      else if (block_request == false) clearInterval(interval);
    }, 0);

  window.addEventListener('scroll', sendOrNotRequest);


  request.addEventListener("readystatechange", () => {
	if (request.readyState === 4 && request.status === 200) {
      let data = request.response;
	  if (data == '') {
        empty_page = true;
      }
      else {
        block_request = false;
        document.querySelector('#action-list').innerHTML += data;
      }
    }
  });

  function sendOrNotRequest(){
    if (checkAtBottomOfPage() && empty_page == false && block_request == false) {
      block_request = true;
      page += 1;

      request.open('GET', '?page=' + page);
      request.setRequestHeader('Content-Type', 'application/x-www-form-url');
      request.setRequestHeader("X-Requested-With", "XMLHttpRequest");
      request.send();
    }
  }

  function checkAtBottomOfPage(){
    let windowRelativeBottom = document.documentElement.getBoundingClientRect().bottom;

    if (windowRelativeBottom < document.documentElement.clientHeight + 100) {
      return true;
    }
    else return false;
  }

{% endblock %}